/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* ==========================================================================
GENERAL STYLES
========================================================================== */
body {
  text-align: center;
  padding: 0;
  background-color: #cacaf8;
  width: 100%;
}

.content-wrapper {
  width: 90%;
  padding: 0 5%;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #152A3E;
  opacity: 1.0;
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
}

p,
ul,
a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: #152A3E;
  text-decoration: none;
  opacity: 1.0;
}

figure {
  margin: 0;
}

img {
  margin: 0;
}

/*---NOTIFICATIONS BAR---*/
.notification-bar {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom:auto;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #FFFFFF;
  text-align: center;
  color: black;
  font-size: 0.9em;
  opacity: 1.0;
  box-sizing:border-box;
  overflow:hidden;
  z-index:2;
}

.notification-bar p {
  padding: 0;
  margin: 0;
  opacity: 1.0;
}

.close {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: grey;
  cursor: pointer;
}

.close:hover{
  font-size:3em;
}

.hide {
  height: 0;
}

/*--_BASE HEADER STYLES-_-*/
header {
  /*--for notifications bar--*/
  margin-top:1.5em;
  /*--for header before--*/
  position: relative;
}

header::before {
  content: "";
  background: url('../img/rubix3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}

header .content-wrapper {
  opacity: 1.0;
  display: flex;
  flex-direction: column;
  z-index:1;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  text-transform: uppercase;
}

header nav ul li a {
  font-weight: 700;
}

header nav ul li a:hover {
  text-decoration: underline; 
}

header .header2 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header h1,
header h2,
header h4 {
  width: 90%;
}

header h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 590;
}

header h2 {
  font-size: 2.25em;
  font-weight: 500;
}

header h2 img {
  height: 1.25em;
  padding: 0 15px 15px 0;
}

/* ==========================================================================
MOBILE STYLES
========================================================================== */
/*---HEADER MOBILE STYLES---*/
header nav ul {
  margin-top: 30px;
}

header h1 {
  margin: 40px 0;
}

header h2 {
  margin: 20px 0;
}

header h4 {
  margin: 20px 0 60px 0;
}

/*---SLOGAN MOBILE STYLES---*/
#slogan {
  background: #152A3E;
  text-transform: uppercase;
}

#slogan h3 {
  color: white;
  padding: 30px 0;
  font-size: 1em;
  word-spacing: 10px;
  margin: 0;
}

/*---PROJECT MOBILE STYLES---*/
#projects h2 {
  margin: 50px 0;
}

#projects .projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#projects .projects-container .project-card {
  margin-bottom: 80px;
  width: 90%;
  display: flex;
  padding: 1em;
  flex-flow: row wrap;
  justify-content: center;
  background: #ffffff;
  border: 0.1em black solid;
  border-radius: 1em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1), 0 23px 30px rgba(17, 24, 39, .2);
}

#projects .project-card figure{
  margin-top:1em;
}

#projects img {
  overflow: hidden;
  height: 12em;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1), 0 15px 10px rgba(17, 24, 39, .2);
  border: 0.1em black solid;
}

#projects h3 {
  margin: 30px 0;
  font-size: 2em;
  text-decoration: underline;
}

#projects p {
  margin: 0;
  text-align: left;
  line-height: 1.5em;
}

#projects .tools {
  margin-top: 30px;
}

#projects .tools p span {
  font-weight: bold;
}

#projects .project-links {
  margin: 2em 0 1em 0;
}

#projects button {
  margin: 0 0.5em;
  border-radius: 0.5em;
  padding: 0.2em 0.7em;
}

#projects button i {
  padding-right: 0.5em;
}

/*---SKILLS MOBILE STYLES---*/
#skills {
  border-top: 2px dotted #a4a4f5;
  border-bottom: 2px dotted #a4a4f5;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 750px;
}

#skills::before {
  content: "";
  background: url('../img/tools.jpg') no-repeat;
  /* https://www.pexels.com/photo/stainless-steel-close-wrench-on-spanner-210881/ */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.12;
  box-sizing: border-box;
}

#skills .content-wrapper {
  display: flex;
  flex-direction: column;
  z-index:1;
}

#skills h2 {
  margin-top: 50px;
}

#skills .block {
  margin-bottom: 50px;
}

#skills h3 {
  width: 100%;
  font-weight: 700;
  margin-bottom: 20px;
}

#skills h3 i {
  padding-left: 10px;
}

#skills .tool-block .block p {
  font-weight: bold;
}

/*---ABOUT MOBILE STYLES---*/
#about {
  display: flex;
}

#about .content-wrapper {
  margin: 40px 0;
}

#about .about-wrapper2 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#about .about-content2 {
  margin: 40px 5% 0 5%;
  width: 90%;
  text-align: left;
}

#about figure {
  width: 100%;
}

#about img,
#about h3,
#about h4 {
  width: 100%;
}

#about h2 {
  margin: 20px 0 40px 0;
}

#about h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#about h4 {
  margin-bottom: 40px;
  font-size: 1.125em;
}

#about .about-paragraph {
  flex-direction: column;
}

/*---FOOTER MOBILE STYLES---*/
footer {
  background: #d2d2fc;
}

footer .content-wrapper {
  padding-top: 40px;
}

#contact .footer-content {
  margin-top: 40px;
}

#contact .hire,
#contact .follow,
#contact .meet{
  margin-bottom:50px;
}

#contact .follow h3,
#contact .meet h3,
#contact .hire h3 {
  margin: 20px 0;
}

#contact .hire h3 a {
  font-weight: bold;
}

#contact .hire i {
  padding-left: 15px;
}

#contact .hire address {
  margin-top: 30px;
  margin-bottom: 40px;
  text-decoration:underline;
}

#contact .follow .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#contact .follow .social-icons p {
  font-size: 1.5em;
  margin:20px 0;
}

#contact .copyright {
  margin: 60px 0;
  border: 2px dotted #a4a4f5;
  padding: 0 10px;
}


/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

/* ========================================================================== 
TABLET STYLES
========================================================================== */

@media only screen and (min-width: 768px) {

  /*---GENERAL TABLET STYLES---*/
  h2 {
    font-size: 4em;
  }

  /*---HEADER TABLET STYLES---*/
  header {
    max-height: 700px;
  }

  header h1 {
    margin-top: 12%;
    font-size: 4em;
  }

  header h2 {
    font-size: 2.5em;
  }

  /*---SLOGAN TABLET STYLES---*/
  #slogan h3 {
    font-size: 1.25em;
    word-spacing: 20px;
  }

  /*---PROJECTS TABLET STYLES---*/
  #projects h2 {
    margin: 80px 0;
  }

  #projects .projects-container {
    justify-content: space-between;
  }

  #projects .project-card img {
    height:10.5em;
  }
  #projects .projects-container .project-card {
    flex-basis: 43%;
  }

  /*---SKILLS TABLET STYLES---*/
  #skills {
    min-height: 800px;
  }

  #skills h2 {
    margin-top: 100px;
  }

  #skills .tool-block {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #skills .content-wrapper .tool-block .block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 60px;
  }

  #skills .tool-block .block div {
    width: 50%;
  }

  /*---ABOUT TABLET STYLES---*/
  #about .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  #about h2 {
    margin: 80px 0;
  }

  #about figure {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  #about .about-content2 {
    width: 80%;
  }

  #about .about-wrapper2 {
    margin-bottom: 80px;
  }

  /*---FOOTER TABLET STYLES---*/
  #contact .footer-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }

  #contact .footer-content div {
    flex-basis: 30%;
  }

  #contact .footer-content .hire h3,
  #contact .footer-content .meet h3 {
    margin: 0 0 20px 0;
  }

  #contact .hire h3 {
    margin: 0 0 60px 0;
  }

  #contact .follow h3 {
    margin: 0;
  }

  #contact .meet {
    margin: 0;
  }

  #contact .copyright {
    margin: 20px 0 80px 0;
  }
}

/* ==========================================================================
DESKTOP STYLES
========================================================================== */

@media only screen and (min-width: 1200px) {

  /*---GENERAL DESKTOP STYLES---*/
  h2 {
    font-size: 3.5em;
  }

  /*---HEADER DESKTOP STYLES---*/
  header {
    max-height: 900px;
    display: flex;
    justify-content: center;
  }

  header .content-wrapper {
    max-width: 1600px;
  }

  header nav ul {
    margin-top: 50px;
    margin-bottom: 120px;
    width: 50%;
    margin-left: 50%;
    font-size: 1.25em;
  }

  header h1 {
    font-size: 4.5em;
    margin: 60px 0;
  }

  header h4 {
    margin: 40px 0;
    font-size: 1.25em;
    margin-bottom: 120px;
  }

  header h2 {
    margin: 40px 0;
    font-size: 3em;
  }

  /*---SLOGAN DESKTOP STYLES---*/
  #slogan h3 {
    word-spacing: 40px;
    font-size: 2em;
    padding: 40px 0;
  }

  /*---PROJECTS DESKTOP STYLES---*/
  #projects {
    display: flex;
    justify-content: center;
  }

  #projects .content-wrapper {
    margin: 40px 0 40px 0;
    max-width: 1600px;
  }

  #projects .projects-container {
    display: flex;
    justify-content: center;
  }

  #projects .projects-container .project-card {
    flex-basis: 26%;
  }

  #projects .projects-container .unplugged,
  #projects .projects-container .sticky,
  #projects .projects-container .organize-me {
    margin: 0 2% 100px 2%;
  }

  /*---SKILLS DESKTOP STYLES---*/
  #skills .content-wrapper {
    max-width: 1600px;
  }

  #skills h2 {
    margin: 120px 0 40px 0;
  }

  #skills h3 {
    margin-bottom: 30px;
  }

  #skills .tool-block .block div {
    width: 33%;
  }

  /*---ABOUT DESKTOP STYLES---*/
  #about {
    display: flex;
    justify-content: center;
  }

  #about .content-wrapper {
    margin: 0;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    padding: 0;
    max-width: 1600px;
  }

  #about h2 {
    width: 100%;
    max-width: 1600px;
  }

  #about .about-wrapper2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
  }

  #about figure {
    width: 42%;
    overflow: hidden;
    margin-bottom:0;
  }

  #about img{
    max-height:483.83px;
  }

  #about .about-content2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 42%;
  }

  #about h3 {
    font-size: 1.75em;
    margin: 0 0 15px 0;
  }

  #about h4 {
    font-size: 1.5em;
    margin: 0 0 25px 0;
  }

  #about .about-paragraph p {
    display: flex;
    max-width: 450px;
  }

  #about .about-paragraph .last-paragraph {
    margin-bottom: 0;
  }

  /*---FOOTER DESKTOP STYLES---*/
  footer {
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }

  footer .content-wrapper {
    max-width: 1600px;
  }

  #contact h2 {
    margin: 0;
  }

  #contact .footer-content .hire h3,
  #contact .footer-content .meet h3 {
    margin-bottom: 50px;
    font-size: 1.5em;
  }
  #contact .footer-content .follow h3{
    margin-bottom:40px;
    font-size:1.5em;
  }

  #contact .follow .social-icons {
    gap:40px;
  }

  #contact .follow .social-icons p {
    font-size: 2em;
    margin:0;
  }
  
  #contact .copyright {
    margin: 40px 0;
  }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}