/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* ==========================================================================
General Styes
========================================================================== */
body {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 5%;
  background-color: #cacaf8;
}

/*header {
  border: 3px dotted yellow;
}

section {
  border: 3px dotted black;
}

div {
  border: 3px dotted green;
}

article {
  border: 3px dotted red;
}*/

ul {
  list-style: none;
}

img {
  border: 2px solid white;
  height: 75px;
  width: 100px;
}

h1,
h2,
h3,
h4{
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #152A3E;
}

p,
ul,
a {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  color: #152A3E;
  text-decoration: none;
}


/*--HEADER STYLES--*/
header {
  display: flex;
  flex-direction: column;
}

header .bold {
  background: rgb(248, 248, 248);
  padding: 10px 3px;
  border: black dotted 2px; 
}

header h1 {
  font-size: 3em;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-left:0;
}

/*--UNHAPPY WITH BUTTON--*/
nav #contact-me button{
 transition-duration: 0.4s;
 background-color:#351D77;
 border-color:#351D77;
 border-radius: 1em;
 color:white;
}

.hover1 {
  background-color:yellow;
  color: white;
}


nav #contact-me a{
  color:white;
  padding: 0 5px;
}

/* ==========================================================================
Mobile Styles
========================================================================== */
/*--HEADER--*/
nav ul {
  margin: 30px 0 60px 0;
}

header h1 {
  margin: 0;
}

header .name {
  padding: 1.5em 0;

}

header h2,
header h4 {
  margin: 0;
}

header .name {
  margin-bottom: 0;
}

header p {
  margin-bottom: 30px;
}

/*--PROJECT STYLES--*/
#projects .content-wrapper {
  margin-top: 80px;
}

#projects h2 {
  margin: 0 0 20px 0;
  font-size: 3em;
}

#projects figure {
  margin: 0 0 20px 0;
}

#projects h3 {
  margin: 0 0 40px 0;
  font-size:2em;
}

#projects p {
  margin:0;
}

#projects .tools {
  margin-top: 30px;
}

#projects .tools p {
  line-height: 1.5em;
  text-align: left;
}

#projects .tools p span {
  font-weight: bold;
}

#projects .live {
  margin: 40px 0;
}

/*--SKILLS STYLES--*/
#skills .content-wrapper {
  margin: 20px 0 80px 0;
}

#skills h2{
  margin:0;
}

#skills h3 {
  margin-top: 40px;
}

#skill .skill-list {
  margin-top: 20px;
}
/*--ABOUT STYLES--*/
#about {
  background: url("../img/pexels-skylar-kang-6045501.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#about .content-wrapper {
  margin: 80px 0;
}

#about figure {
  margin:0; 
}

#about img {
  border: 2px dotted black;
  height: 50px;
  margin: 0;
}

#about h2{
  margin:40px 0 60px 0;
}

#about h3 {
  margin-bottom:40px;
}

/*--FOOTER STYLES--*/
#contact .content-wrapper {
  margin-top:80px;
}

#contact .footer-content{
  margin-top: 60px;
}

#contact .hire{
  margin: 0;
}

#contact .hire h3{
  margin: 0;
}

#contact .hire address {
  margin-top: 30px;
}

#contact .follow h3{
  margin-bottom: 30px;
}

#contact .follow .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#contact .meet{
  margin: 60px 0;
}

#contact .copyright{
  margin: 60px 0;
}



/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

/* ========================================================================== 
Tablet styles
========================================================================== */

@media only screen and (min-width: 768px) {
/*--GENERAL STYLES--*/
h2{
  font-size: 3em;
}
/*--HEADER STYLES--*/
nav ul{
  margin-bottom: 80px;
}

header .bold {
  padding: 20px 0;
}

/*--PROJECTS STYLES--*/
#projects .content-wrapper{
  margin-top: 120px;
}

#projects h2 {
  margin-bottom: 80px;
}

#projects .project-articles {
  display:flex; 
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

#projects .project-articles article{
  display: flex;
  flex-flow: column wrap;
  flex-basis: 49%;
  border: dotted grey 3px;
}

#projects .projects-divider{
  width: 100%;
  height:80px;
}

/*--Skills styles--*/
#skills .content-wrapper{
  margin: 80px 0 120px 0;
}

#skills h3 {
  margin-bottom:30px;
}

#skills .skill-list {
  display:flex; 
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

#skills .skill-list article {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 40%;
}

#skill .skill-list .skill divider{
  border: black solid 2px; 
}

/*--ABOUT STYLES--*/
#about .content-wrapper {
  margin-bottom: 120px;
}

#about h2{
  margin:80px 0;
}

#about h3{
  margin-bottom: 60px;
}

/*--FOOTER STYLES--*/
#contact .content-wrapper {
  margin-top:120px;
}

#contact .hire address {
  margin-top: 0;
}

#contact .footer-content{
  margin-top: 80px;
  display: flex;
}

#contact .footer-content div{
  flex-basis: 30%;
}

#contact .footer-content div h3{
  margin:0 0 20px 0;
}

#contact .meet{
  margin: 0;
}

#contact .copyright{
  margin: 80px 0;
}
}

/* ==========================================================================
Desktop
========================================================================== */

@media only screen and (min-width: 1200px) {
/*--HEADER STYLES--*/
  nav ul{
    margin-top: 80px;
    width: 50%;
    margin-left: 50%;
  }
  header .bold {
   margin-bottom: 140px;
  }

  header h1{
    font-size: 4.5em;
  }

/*--PROJECTS STYLES--*/
#projects .content-wrapper{
  margin: 140px 0;
}

/*--Skills styles--*/
#skills .content-wrapper{
  margin: 120px 0 120px 0;
}

#skills .skill-list {
  width: 60%;
  margin: 0 20%;
}

#skills .skill-list article {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 33%;
}

/*--ABOUT STYLES--*/
#about .content-wrapper {
  margin: 140px 0;
  display: flex;
}

#about figure {
  flex-basis: 50%;
  padding: 0;
}

#about img{
  height: 100%;
  width: 100%;
}

#about .about-content{
  flex-basis: 50%;
}

/*--FOOTER STYLES--*/
footer{
  margin: 160px 0 100px 0;
}

#contact h2{
  margin:0; 
}

#contact .copyright{
  margin: 40px 0;
}
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}